/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) { 

/* header  */
.slider h1 {
    font-size: 40px;
}
.feature-img {
    text-align: center;
}

.image{
    margin-bottom: 20px;
}
.title {
    left: 50%;
    
}
.title h2{
    font-size: 22px;
}
.image:hover .arrow {
    opacity: 1;
    left: 50%;
}

.attorneys-content {
    text-align: center;
    padding-bottom: 40px;
}
.our-attorneys h2 {
    font-size: 20px;
}
.feature-content span{
    text-align: center;
}
.feature-content {
    text-align: center;
}
.feature p {
    text-align: center;
}

.languages-content{
    text-align: center;
}
.languages-content p{
    text-align: center;
}

.footer-icon ul li {
    padding: 0 17px;
}
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
   
    

	}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
   
   
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	



}
